@font-face {
  font-family: "NetflixSans-bold";
  src: url("assets/fonts/NetflixSans-Bold.otf") format("opentype");
  /* font-weight: bold; */
}
@font-face {
  font-family: "NetflixSans-regular";
  src: url("assets/fonts/NetflixSans-Regular.otf") format("opentype");
  font-weight: 300;
}
* {
  font-family: NetflixSans-regular;
  margin: 0;
  padding: 0;
}
.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}
.main .box {
  background-color: black;
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
  top: 0;
}
.bar {
  /* background-color: cornflowerblue; */
  display: flex;
  max-width: 80vw;
  height: 5.7rem;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.bar img {
  width: 148;
  height: 40px;
  position: relative;
  z-index: 10;
}
.bar .button {
  position: relative;
  z-index: 10;
}
.hero {
  /* font-size: x-large; */
  margin: auto;
  color: white;
  z-index: 10;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 86%;
  width: 600px;
}
.hero :nth-child(1){
    font-family: "NetflixSans-bold";
    font-weight: 850;
    line-height: 74px;
    font-size: 58px;
    word-spacing: 1px;
}
.hero :nth-child(2){
    color: azure;
    font-family: "NetflixSans-bold";
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    margin-top: 23px;
}
.hero :nth-child(3){
      font-family: "NetflixSans-regular";
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      margin-top: 30px;
}
.main .hero .btn{
    /* display: flex; */
    margin-top: 8px;
    /* background-color: transparent; */
}
.btn .this{
  font-size: 16px;
  background: transparent;
  border: 1.5px solid rgb(110, 106, 106);
  border-radius: .25rem;
  /* margin: 4px; */
  padding: 2px 8px;
  height: 56px;
  width: 350px;
}
.btn .button3{
  background-color: rgb(229,9,20);
  border: none;
  font-weight: 700;
  border-radius: .25rem;
  margin-left: .75rem;
  font-size: 24px;
  padding: 0 24px;
  height: 60px;
  margin-top: 4px;
  /* width: auto; */
  font-family: NetflixSans-Regular;
}
input::placeholder{
  color: rgb(255, 255, 255,0.7);
  font-family:NetflixSans-Regular ,Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 200;
}
.button2{
  width: auto;
  background-color: rgb(229, 9, 20);
  border: none;
  text-align: center;
  font-family: NetflixSans-Regular;
  font-weight: 600;
  color: white;
  font-size: 0.885rem;
  min-height: 2rem;
  border-radius: .25rem;
  text-transform: capitalize;
  padding: .25rem 1rem;
}
.button span img{
  width: auto;
 height: 16px;
 background-color: red;
 /* padding: 4px; */
}
.button1{
  /* display: flex; */
  /* background: transparent; */
  padding: 6px 4px;
  border-radius: 0.25rem;
  margin-right: 4px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(182, 164, 164);
}
.styled-line {
  width: 100vw;
  height: 5px;
  background: radial-gradient(ellipse at top, #ff004f 0%, #ff004f 40%, transparent 80%);
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  box-shadow: 0 10px 10px rgb(0, 38, 255); /* strong blue glow ONLY downward */
  margin-top: 5px; /* Optional: Adjust to overlap the previous section slightly */
  border-radius: 60% / 100%;
  transform: scaleY(2); /* adds subtle vertical stretch */
}
